.spotify {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    padding: 1rem;
}


.albumImage {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    border-radius: 15px;
}

.homePage {

    background-color: #f9dcc4;
}

.albums__section {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 4rem;
    width: 100%;
    flex-wrap: wrap;

}

@media screen and (min-device-width: 0px) {
    .albums__section {
        flex-direction: column;
    }
}

@media screen and (min-device-width: 1060px) {
    .albums__section {
        flex-direction: row;
    }
}



.latestHeader {
    font-family: Helvetica;
    margin-top: 3rem;
    margin-bottom: 1rem;
    text-align: center;
}

.albumIndi {
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.albumIndi h3 {
    font-family: Helvetica;
    text-transform: uppercase;
    font-weight: bolder;
    font-style: italic;
    margin-bottom: -1rem;
}

.albumMain {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.albumDate {
    margin-left: 0.7rem;
    font-weight: 300;
    font-family: Helvetica;
    text-transform: uppercase;
}